@using MultiShop.Web.UI.ViewComponents.UILayoutViewComponents
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeadUILayoutViewComponentPartial")

<body>
    @await Component.InvokeAsync(nameof(_TopbarUILayoutViewComponentPartial))

    @await Component.InvokeAsync(nameof(_NavbarUILayoutViewComponentPartial))

    @await Component.InvokeAsync(nameof(_DirectoryAlertUILayoutComponentPartial))

    @RenderBody();  

    @await Component.InvokeAsync(nameof(_FooterUILayoutViewComponentPartial))

    @await Component.InvokeAsync(nameof(_ScriptUILayoutViewComponentPartial))
</body>
</html>
