@using MultiShop.Web.UI.ViewComponents.ContactViewComponents
@model CreateContactDto

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Contact</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Contact Start -->
<div class="container-fluid">
    <h2 class="section-title position-relative text-uppercase mx-xl-5 mb-4"><span class="bg-secondary pr-3">Contact Us</span></h2>
    <div class="row px-xl-5">
        <div class="col-lg-7 mb-5">
            <div class="contact-form bg-light p-30">
                <div id="success"></div>
                <form method="post">
                    <div class="control-group">
                        <input  class="form-control"  placeholder="Adınız soyadınız"
                               required="required" data-validation-required-message="Lütfen boş geçmeyin" asp-for="FullName" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input class="form-control"  placeholder="Email Adresiniz"
                               required="required" data-validation-required-message="Lütfen boş geçmeyin" asp-for="Email" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <input  class="form-control"  placeholder="Mesaj Konusu" asp-for="Subject"
                               required="required" data-validation-required-message="Lütfen boş geçmeyin" />
                        <p class="help-block text-danger"></p>
                    </div>
                    <div class="control-group">
                        <textarea class="form-control" rows="8"  placeholder="Mesajınız" asp-for="Message"
                                  required="required"
                                  data-validation-required-message="Lütfen boş geçmeyin"></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                    <div>
                        <button class="btn btn-primary py-2 px-4" type="submit" id="sendMessageButton">
                            Mesajı Gönder
                        </button>
                    </div>
                </form>
            </div>
        </div>
        @await Component.InvokeAsync(nameof(_ContactDetailComponentPartial))
    </div>
</div>
<!-- Contact End -->