@using MultiShop.Web.UI.ViewComponents.ProductListViewComponents

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-lg-3 col-md-4">
            @await Component.InvokeAsync(nameof(_ProductListPriceFilterComponentPartial))

            @await Component.InvokeAsync(nameof(_ProductListColorFilterComponentPartial))

            @await Component.InvokeAsync(nameof(_ProductListSizeFilterComponentPartial))
        </div>
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                @await Component.InvokeAsync(nameof(_ProductListGetProductCountComponentPartial))

                @await Component.InvokeAsync(nameof(_ProductListComponentPartial), new { id = ViewBag.CategoryId })

                @await Component.InvokeAsync(nameof(_ProductListPaginationComponentPartial))
            </div>
        </div>
    </div>
</div>
