@model CreateFeatureSliderDto

@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/AdminLayout/_AdminLayout.cshtml";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4>Kategori Ekle</h4>
                    <p class="text-muted">Aşağıdaki formu doldurarak yeni bir kategori ekleyebilirsiniz.</p>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-group">
                            <label asp-for="Title">Kategori Adı</label>
                            <input class="form-control" asp-for="Title" placeholder="Kategori adı girin" />
                            <span class="text-danger" asp-validation-for="Title"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Description">Açıklama</label>
                            <textarea class="form-control" asp-for="Description" rows="4" placeholder="Açıklama girin"></textarea>
                            <span class="text-danger" asp-validation-for="Description"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageUrl">Kategori Image</label>
                            <input class="form-control" asp-for="ImageUrl"  placeholder="Kategori adı girin" />
                            <span class="text-danger" asp-validation-for="ImageUrl"></span>
                        </div>
                        <button type="submit" class="btn btn-primary">Kategoriyi Ekle</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@* @section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
} *@
