@using MultiShop.Web.UI.ViewComponents.DefaultViewComponents

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/_UILayout.cshtml";
}
<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <span class="breadcrumb-item active">Contact</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Carousel Start -->
@await Component.InvokeAsync(nameof(_CarouselDefaultViewComponentPartial))
<!-- Carousel End -->
<!-- Featured Start -->
@await Component.InvokeAsync(nameof(_FeaturedDefaultViewComponentPartial))
<!-- Featured End -->
<!-- Categories Start -->
@await Component.InvokeAsync(nameof(_CategoriesDefaultViewComponentPartial))
<!-- Categories End -->
<!-- Products Start -->
@await Component.InvokeAsync(nameof(_FeaturedProductsDefaultViewComponentPartial))
<!-- Products End -->
@await Component.InvokeAsync(nameof(_OfferDefaultViewComponentPartial))
<!-- Vendor Start -->
@await Component.InvokeAsync(nameof(_VendorDefaultViewComponentPartial))
<!-- Vendor End -->
